appdirs==1.4.3
beautifulsoup4==4.8.1
boto==2.49.0
boto3==1.10.1
botocore==1.13.1
certifi==2019.9.11
chardet
ChemDataExtractor
Click
cssselect
cycler
Cython
dataclasses
DAWG
decorator
docutils
future
gensim
h5py
idna
jmespath
joblib
kiwisolver
lxml
# mat2vec==0.2
matplotlib
monty
mpmath
networkx
nltk
numpy
palettable
pandas
pdfminer.six
plotly
pycryptodome
PyDispatcher
pymatgen
pyparsing
python-crfsuite
python-dateutil
pytz
PyYAML
regex
requests
retrying
ruamel.yaml
ruamel.yaml.clib
s3transfer
scikit-learn
scipy
sentencepiece
six
smart-open
sortedcontainers
soupsieve
spglib
sympy
tabulate
torch
torchtext
tqdm
Unidecode
urllib3
